@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
body{
    background: rgb(253, 251, 251);
}
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* nav bar */
#cabecalho{
    top: 0;
    padding-top: 12px;
    background-color:  rgb(23, 146, 2);
    list-style: none;
}
#cabecalho h1{
    color: #fff;
    font-family: 'Comic Neue', cursive;
    text-align: center;
}
#cabecalho ul li{
    display: inline;
}
#cabecalho ul li a {
    color: #fff;
    padding: 10px;
    font-family: 'Comic Neue', cursive;
    text-decoration: none;
    display:inline-block;
    font-weight: bold;
    transition: background .2s;
}
#cabecalho ul a:hover{
    background-color: #38b427;
}
.left-button{
    /* background-color: rgb(0, 0, 0); */
    float: right;
    margin: 0 0 0 16px;
}
  #minha_foto{
    width: 188px;
    display: block;
    margin: 12px auto 32px;
    border-radius: 25px;
    border: 3px solid rgb(23, 146, 2);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
.links ul{
    list-style: none;
    /* border: 2px solid black; */
    text-align: center;
}
.links ul li{
    display: inline;
}
.links ul li a {
    text-decoration: none;
    display: inline-block;
    color: rgb(23, 146, 2);
    font-size: 32px;
    padding: 3px 3px;
    margin: 0 9px ;
}
.github:hover {
    color: #495057;
    transition: background .2s;
}
.linkedin:hover {
    color: #0e76a8;
    transition: background .2s;
}
#rodape{
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #343a40;
    border: 1px solid black;
    font-family: 'Comic Neue', cursive;
    padding: 5px;
}
.nocontent{
    display: none;
}
#licoes{
    text-align: center;
    margin-bottom: 32px;
}
#licoes_aprendidas{
    margin: 0 30px;
    font-size: 22px;
    display: inline-block;
}
#licoes_a_aprender{
    gap: 16px;
    font-size: 22px;
    display: inline-block;
}
